[submodule "references/UPRSpeedchoice"]
	path = references/UPRSpeedchoice
	url = https://github.com/Dabomstew/UPR-Speedchoice
[submodule "references/universal-pokemon-randomizer"]
	path = references/universal-pokemon-randomizer
	url = https://github.com/Dabomstew/universal-pokemon-randomizer
[submodule "references/universal-pokemon-randomizer-zx"]
	path = references/universal-pokemon-randomizer-zx
	url = https://github.com/Ajarmar/universal-pokemon-randomizer-zx
[submodule "references/actraiser-randomizer"]
	path = references/actraiser-randomizer
	url = https://github.com/Osteoclave/actraiser-randomizer
[submodule "references/superadventureisland2-randomizer"]
	path = references/superadventureisland2-randomizer
	url = https://github.com/abyssonym/sai2_rando
[submodule "references/aerobiz"]
	path = references/aerobiz
	url = https://github.com/stochaztic/aerobonkers
[submodule "references/atlantisnonazo-randomizer"]
	path = references/atlantisnonazo-randomizer
	url = https://github.com/Ryason55/gnazo_randomizer
[submodule "references/axiomverge"]
	path = references/axiomverge
	url = https://github.com/pozzum/axiomrandomizer
[submodule "references/azuredreams"]
	path = references/azuredreams
	url = https://github.com/programmar-r/programmar-r.github.io
[submodule "references/banjo-kazooie"]
	path = references/banjo-kazooie
	url = https://github.com/CyrusKashef/BK_Randomizer
[submodule "references/bravelyrandomize"]
	path = references/bravelyrandomize
	url = https://github.com/MarvinXLII/BravelyRandomize
[submodule "references/bravelyrandomize2"]
	path = references/bravelyrandomize2
	url = https://github.com/MarvinXLII/BravelyRandomize2
[submodule "references/breathoffire2"]
	path = references/breathoffire2
	url = https://github.com/abyssonym/painsong
[submodule "references/breathoffire3"]
	path = references/breathoffire3
	url = https://github.com/abyssonym/vast_violence
[submodule "references/captaincomic"]
	path = references/captaincomic
	url = https://www.bamsoftware.com/git/comic.git
[submodule "references/castlevania2SQ"]
	path = references/castlevania2SQ
	url = https://github.com/tonylukasavage/cv2r
[submodule "references/castlevania2deadlycurse"]
	path = references/castlevania2deadlycurse
	url = https://github.com/abyssonym/deadly_curse
[submodule "references/sotn-relic-randomizer"]
	path = references/sotn-relic-randomizer
	url = https://github.com/josephstevenspgh/SotN-Relic-Randomizer/
[submodule "references/sotn-randomizer"]
	path = references/sotn-randomizer
	url = https://github.com/3snowp7im/SotN-Randomizer
[submodule "references/sotnrandotools"]
	path = references/sotnrandotools
	url = https://github.com/TalicZealot/SotnRandoTools/
[submodule "references/castlevania-circleofthemoon"]
	path = references/castlevania-circleofthemoon
	url = https://github.com/calm-palm/cotm-randomizer
[submodule "references/aosrando"]
	path = references/aosrando
	url = https://github.com/abyssonym/aos_rando
[submodule "references/elitesoba-aosrando"]
	path = references/elitesoba-aosrando
	url = https://github.com/EliteSoba/aos_rando
[submodule "references/aosrando2"]
	path = references/aosrando2
	url = https://github.com/tukkek/aos_rando
[submodule "references/dsvedit"]
	path = references/dsvedit
	url = https://github.com/LagoLunatic/dsvedit
[submodule "references/dsvrandom"]
	path = references/dsvrandom
	url = https://github.com/LagoLunatic/dsvrandom
[submodule "references/wwrando"]
	path = references/wwrando
	url = https://github.com/LagoLunatic/wwrando
[submodule "references/celesterandomizer"]
	path = references/celesterandomizer
	url = https://github.com/rhelmot/CelesteRandomizer
[submodule "references/chronotrigger-eternalnightmare"]
	path = references/chronotrigger-eternalnightmare
	url = https://github.com/abyssonym/eternalnightmare
[submodule "references/chronotrigger-jetsoftime"]
	path = references/chronotrigger-jetsoftime
	url = https://github.com/Anskiy/jetsoftime
[submodule "references/chronotrigger-wingsoftime"]
	path = references/chronotrigger-wingsoftime
	url = https://github.com/Anskiy/wingsoftime
[submodule "references/cevo-mapgen"]
	path = references/cevo-mapgen
	url = https://github.com/samboy/c-evo-mapgen
[submodule "references/commanderkeen1rando"]
	path = references/commanderkeen1rando
	url = https://github.com/sulix/randkeen
[submodule "references/crashtagteamracing"]
	path = references/crashtagteamracing
	url = https://github.com/CDRomatron/CTTRRando
[submodule "references/crazy-castle-random"]
	path = references/crazy-castle-random
	url = https://github.com/MaximumLance/Crazy-Castle-Randomizer
[submodule "references/crystal-project-random"]
	path = references/crystal-project-random
	url = https://github.com/LtSquigs/crystal-project-randomizer
[submodule "references/crystalis-rando"]
	path = references/crystalis-rando
	url = https://github.com/crystalis-randomizer/crystalis-randomizer
[submodule "references/darksoulsitemrando"]
	path = references/darksoulsitemrando
	url = https://github.com/HotPocketRemix/DarkSoulsItemRandomizer
[submodule "references/parandomizer"]
	path = references/parandomizer
	url = https://github.com/Poppyanimal/Paramdomizer
[submodule "references/darkestdungeonrandom"]
	path = references/darkestdungeonrandom
	url = https://github.com/TheUnlocked/DarkestDungeonRandomizer
[submodule "references/deusex-random"]
	path = references/deusex-random
	url = https://github.com/Die4Ever/deus-ex-randomizer/
[submodule "references/diablo2-modmaker"]
	path = references/diablo2-modmaker
	url = https://github.com/tlentz/d2modmaker
[submodule "references/diablo2-modgenerator"]
	path = references/diablo2-modgenerator
	url = https://github.com/mapron/d2modgen
[submodule "references/digimonworld-rando"]
	path = references/digimonworld-rando
	url = https://github.com/meekrhino/digimon_world_randomizer
[submodule "references/dkc3random"]
	path = references/dkc3random
	url = https://github.com/pozzum/DKC3Randomizer
[submodule "references/DK64random"]
	path = references/DK64random
	url = https://github.com/2dos/DK64-Randomizer
[submodule "references/doom2+finaldoom-random"]
	path = references/doom2+finaldoom-random
	url = https://gitlab.com/andwj/populate
[submodule "references/dwrandom"]
	path = references/dwrandom
	url = https://github.com/mcgrew/dwrandomizer
[submodule "references/ff4fabulgauntlet"]
	path = references/ff4fabulgauntlet
	url = https://github.com/gameboy9/FF4FabulGauntlet
[submodule "references/ff1-pr-rando"]
	path = references/ff1-pr-rando
	url = https://github.com/gameboy9/FF1-PR-Rando
[submodule "references/ff5abridged"]
	path = references/ff5abridged
	url = https://github.com/gameboy9/FF5Abridged
[submodule "references/dwrandom-gb9"]
	path = references/dwrandom-gb9
	url = https://github.com/gameboy9/dwrandomizer
[submodule "references/jetsoftime-gb9"]
	path = references/jetsoftime-gb9
	url = https://github.com/gameboy9/jetsoftime
[submodule "references/7thsagarandom"]
	path = references/7thsagarandom
	url = https://github.com/gameboy9/7thsagarando
[submodule "references/dw4randomhacker"]
	path = references/dw4randomhacker
	url = https://github.com/gameboy9/dw4randohacker
[submodule "references/dw3random"]
	path = references/dw3random
	url = https://github.com/gameboy9/dw3randomizer
[submodule "references/excitebikerandom"]
	path = references/excitebikerandom
	url = https://github.com/gameboy9/excitebikerando
[submodule "references/dw2random"]
	path = references/dw2random
	url = https://github.com/gameboy9/dw2randomizer
[submodule "references/paladinsquest-random"]
	path = references/paladinsquest-random
	url = https://github.com/gameboy9/paladinsquestrando
[submodule "references/radracer-random"]
	path = references/radracer-random
	url = https://github.com/gameboy9/radracerrando
[submodule "references/golf-random"]
	path = references/golf-random
	url = https://github.com/gameboy9/golfrando
[submodule "references/dq12sfcrandom"]
	path = references/dq12sfcrandom
	url = https://github.com/gameboy9/dq12sfcrando
[submodule "references/ff1psp-random"]
	path = references/ff1psp-random
	url = https://github.com/gameboy9/ffrpsp
[submodule "references/rcproam-random"]
	path = references/rcproam-random
	url = https://github.com/gameboy9/rcproamrandomizer
[submodule "references/dq3heavenlyflight"]
	path = references/dq3heavenlyflight
	url = https://github.com/cleartonic/dq3hf
[submodule "references/dq8-random"]
	path = references/dq8-random
	url = https://github.com/pIayinful/DQ8-Rando
[submodule "references/dwm2randomizer"]
	path = references/dwm2randomizer
	url = https://github.com/TheCowness/DWM2Randomizer
[submodule "references/earthbound-bizarredimention"]
	path = references/earthbound-bizarredimention
	url = https://github.com/abyssonym/bizarre_dimension
[submodule "references/earthbound-randomizer"]
	path = references/earthbound-randomizer
	url = https://github.com/stochaztic/eb-randomizer
[submodule "references/enderlillies-random"]
	path = references/enderlillies-random
	url = https://github.com/Trexounay/EnderLilies.Randomizer
[submodule "references/ff1random-coop"]
	path = references/ff1random-coop
	url = https://github.com/FiendsOfTheElements/FFR-Coop
[submodule "references/ff1randomizer"]
	path = references/ff1randomizer
	url = https://github.com/FiendsOfTheElements/FF1randomizer
[submodule "references/ff2randomizer"]
	path = references/ff2randomizer
	url = https://github.com/PheonixMMKC777/Final_Fantasy_2_Randomizer
[submodule "references/ff12dos-approachingchaos"]
	path = references/ff12dos-approachingchaos
	url = https://github.com/abyssonym/approaching_chaos
[submodule "references/hmsjayne-ff1randomizer"]
	path = references/hmsjayne-ff1randomizer
	url = https://github.com/hmsjayne/ffr-hmsj
[submodule "references/ff3randomizer"]
	path = references/ff3randomizer
	url = https://github.com/nachoyacopu/ff3-randomizer
[submodule "references/ff4-beyondbabil"]
	path = references/ff4-beyondbabil
	url = https://github.com/abyssonym/beyond_babil
[submodule "references/ff5-grandcross"]
	path = references/ff5-grandcross
	url = https://github.com/abyssonym/grand_cross
[submodule "references/ff6-beyondchaos"]
	path = references/ff6-beyondchaos
	url = https://github.com/abyssonym/beyondchaos
[submodule "references/ff6-beyondchaosex"]
	path = references/ff6-beyondchaosex
	url = https://github.com/subtractionsoup/beyondchaos
[submodule "references/ff6-beyondchaosgaiden"]
	path = references/ff6-beyondchaosgaiden
	url = https://github.com/abyssonym/beyondchaos
[submodule ".\\references\\ff6-beyondchaosgaiden"]
	url = https://github.com/abyssonym/beyondchaos_gaiden
[submodule "references/abyssonym-randomtools"]
	path = references/abyssonym-randomtools
	url = https://github.com/abyssonym/randomtools
[submodule "references/ff6-worldscollide"]
	path = references/ff6-worldscollide
	url = https://github.com/AtmaTek/WorldsCollide
[submodule "references/ff7-maelstrom"]
	path = references/ff7-maelstrom
	url = https://github.com/sleepeybunney/maelstrom
[submodule "references/hades-workshop"]
	path = references/hades-workshop
	url = https://github.com/Tirlititi/Hades-Workshop
[submodule "references/ff9-stiltzkinsbag"]
	path = references/ff9-stiltzkinsbag
	url = https://github.com/Druthulu/Stiltzkins-Bag
[submodule "references/ffxrandomizer"]
	path = references/ffxrandomizer
	url = https://github.com/BitPatty/FFXRandomizer
[submodule "references/ffXIIIrandomizer"]
	path = references/ffXIIIrandomizer
	url = https://github.com/Bartz24/FF13Randomizer/
[submodule "references/ffmodingwpf"]
	path = references/ffmodingwpf
	url = https://github.com/Bartz24/FFModdingWPF
[submodule "references/fft-rumblechaoscrashdown"]
	path = references/fft-rumblechaoscrashdown
	url = https://github.com/abyssonym/rumble_chaos_crashdown
[submodule "references/fftctcr"]
	path = references/fftctcr
	url = https://github.com/abyssonym/fftrctcr
[submodule "references/FFTArandomizer"]
	path = references/FFTArandomizer
	url = https://github.com/TojiKitten/FFTA-randomizer
[submodule "references/ffmq-terriblesecret"]
	path = references/ffmq-terriblesecret
	url = https://github.com/abyssonym/terriblesecret
[submodule "references/ffmqrando"]
	path = references/ffmqrando
	url = https://github.com/wildham0/FFMQRando
[submodule "references/finalfightaniversaryeditioneditor"]
	path = references/finalfightaniversaryeditioneditor
	url = https://github.com/GameHackFan/ffaee
[submodule "references/xanerandomizer"]
	path = references/xanerandomizer
	url = https://github.com/izumi-niche/XaneRandomizer
[submodule "references/universal-fe-randomizer"]
	path = references/universal-fe-randomizer
	url = https://github.com/lushen124/Universal-FE-Randomizer
[submodule "references/fe5-randomizer-binaries"]
	path = references/fe5-randomizer-binaries
	url = https://github.com/dDShockTrooper/FE5-Randomiser-Releases
[submodule "references/universial-gba-fe-randomizer"]
	path = references/universial-gba-fe-randomizer
	url = https://github.com/lushen124/Universal-GBA-FE-Randomizer-Windows
[submodule "references/fe9-charactereditor+randomizer"]
	path = references/fe9-charactereditor+randomizer
	url = https://github.com/jespoketheepic/FE9-Character-Editor-and-Randomizer
[submodule "references/fe10-randomizer"]
	path = references/fe10-randomizer
	url = https://github.com/LordMewtwo73/fe10-randomizer
[submodule "references/fe11-jespokesrandomizer"]
	path = references/fe11-jespokesrandomizer
	url = https://github.com/jespoketheepic/Jespokes-FE11-Randomizer
[submodule "references/feawakening-randomizerrewrite"]
	path = references/feawakening-randomizerrewrite
	url = https://github.com/Nyaaaa2314/AwakeningRandomizerRewrite
[submodule "references/fire-emblem-awakening-randomizer"]
	path = references/fire-emblem-awakening-randomizer
	url = https://github.com/rambon99/Fire-Emblem-Awakening-Randomizer
[submodule "references/fefates3ds-randomizer"]
	path = references/fefates3ds-randomizer
	url = https://github.com/thane98/3DSFE-Randomizer
[submodule "references/gatoroborandomizer"]
	path = references/gatoroborandomizer
	url = https://github.com/CaptainDapper/GatoRobotoRandomizer
[submodule "references/godzilla-monsterofmonsters-randomizer"]
	path = references/godzilla-monsterofmonsters-randomizer
	url = https://github.com/MaybeDatapod/godzilla-randomizer
[submodule "references/gooftroop-randomizer"]
	path = references/gooftroop-randomizer
	url = https://github.com/GB127/GT-Rando
[submodule "references/gtasa-randomizer"]
	path = references/gtasa-randomizer
	url = https://github.com/Parik27/SA.Rainbomizer
[submodule "references/hollowknight-randomizer"]
	path = references/hollowknight-randomizer
	url = https://github.com/homothetyhk/RandomizerMod
[submodule "references/jetman-solar-randomizer"]
	path = references/jetman-solar-randomizer
	url = https://github.com/GB127/ST-rando
[submodule "references/kartia-randomizer"]
	path = references/kartia-randomizer
	url = https://github.com/Meerkov/Kartia
[submodule "references/telefang-power-randomizer"]
	path = references/telefang-power-randomizer
	url = https://github.com/Sanqui/online-randomizer
[submodule "references/kh2doorrando"]
	path = references/kh2doorrando
	url = https://github.com/MainMemory/KH2DoorRando
[submodule "references/kh2-random-setupcheck"]
	path = references/kh2-random-setupcheck
	url = https://github.com/KH2FM-Mods-equations19/rando-setup-checker
[submodule "references/openkh"]
	path = references/openkh
	url = https://github.com/Xeeynamo/OpenKh
[submodule "references/kh2fm-randomizer"]
	path = references/kh2fm-randomizer
	url = https://github.com/afresquet/kh2fm-randomizer
[submodule "references/kirbysadventure-randomizer"]
	path = references/kirbysadventure-randomizer
	url = https://github.com/Aquova/KA-Rando
[submodule "references/kirbynightmaredreamland-random"]
	path = references/kirbynightmaredreamland-random
	url = https://github.com/Aquova/KNDL-Rando
[submodule "references/kidicarus-randomizer"]
	path = references/kidicarus-randomizer
	url = https://github.com/toddcblank/kid_randomicus
[submodule "references/kirbysuperstar-random"]
	path = references/kirbysuperstar-random
	url = https://github.com/firubii/kss-randomizer
[submodule "references/kamrandomzier"]
	path = references/kamrandomzier
	url = https://github.com/GateGuy/kamrandomizer
[submodule "references/amazing-mirror-randomizer"]
	path = references/amazing-mirror-randomizer
	url = https://github.com/HeyImTG/Amazing-Mirror-Randomizer
[submodule "references/kirbystarallies-ranomizer"]
	path = references/kirbystarallies-ranomizer
	url = https://github.com/firubii/StarAlliesRandomizer
